.harness.shell
  .left
    != partial('header')
    .region.body
    != partial('footer')
  .main
    != partial('header')
    .region.body

      != partial('main_default')

    != partial('footer')
