!!!
html
  head
    title= title
    link(rel='stylesheet', href="#{baseUrl}/stylesheets/harness.css")

    script(type='text/javascript', src='/build/client-min.js')

  body!= body

    :coffeescript
      foo = require 'foo'
      console.log 'foo', foo