body
  padding 5px 30px 30px 30px
  line-height: 1.8em
  font-size: 11pt
  
a
  color: #00B7FF
  text-decoration: none

a:hover
  text-decoration: underline



code
  padding: 2px 4px 2px 4px
  border: solid 1px darken(white, 15%)
  background: darken(white, 5%)
  font-family: Menlo, Consolas
  