body
  padding 5px 30px 30px 30px
  line-height: 1.8em
  font-size: 11pt
  overflow auto
  

code
  padding: 2px 4px 2px 4px
  border: solid 1px darken(white, 15%)
  background: darken(white, 5%)
  font-family: Menlo, Consolas
  