@import 'core/common'
@import 'nib'

// ------------------------------------------------------
//                   Constants
// ------------------------------------------------------
headerHeight = 43
footerHeight = 43
leftWidth = 320
borderColor = darken(white, 60%)


// ------------------------------------------------------
//                        Common
// ------------------------------------------------------
.th_bar
    default = #e0e1e6
    top     = #f5f5f7
    bottom  = #a6acba
    background: gradientY(default, top, bottom)



// ------------------------------------------------------
//                        Shell
// ------------------------------------------------------
body
  overflow hidden

div.th_harness.th_shell
  absPosition()
  background: white

  div.th_region
    overflow: hidden

  div.th_header
    absPosition(0, 0, 0, null)
    height: unit(headerHeight, px)
    border-bottom: solid 1px borderColor


  div.th_footer
    absPosition(0, null, 0, 0)
    height: unit(footerHeight, px)
    border-top: solid 1px borderColor

  div.th_left
    absPosition(0, 0, null, 0)
    width: unit(leftWidth, px)
    border-right: solid 1px borderColor
    background: #f5f5f5
    div.th_region
      absPosition(0, headerHeight + 1, 0, footerHeight + 1)

  div.th_main
    absPosition(leftWidth + 1, 0, 0, 0)
    div.th_region
      absPosition(0, headerHeight + 1, 0, footerHeight + 1)
      overflow: hidden
    



// ------------------------------------------------------
//                     Welcome
// ------------------------------------------------------
div.th_main div.th_welcome
    default = #007bd7
    top     = #0a93ec
    bottom  = #003683
    background: gradientY(default, top, bottom)

    div.th_grid
      background-image: url(../images/welcome/grid_lines.png)

    div.th_title
      background-image: url(../images/welcome/title.png)
      background-repeat: no-repeat
      background-position: center
