
body
  padding 50px
  font 15px "Lucida Grande", Helvetica, Arial, sans-serif
  color orange

toUnit(prop, value, unit=px)
  if value is not null
    {prop} unit(value, unit)

abs-pos(left = 0, top = 0, right = 0, bottom = 0, unit=px)
  position absolute
  toUnit 'left', left, unit
  toUnit 'top', top, unit
  toUnit 'right', right, unit
  toUnit 'bottom', bottom, unit

.foo
  color red
  abs-pos(20, 20, 5, null, '%')
  background green