!!!
html
  head
    title= title
    != html.css(baseUrl + '/stylesheets/harness.css')
    
    != html.script('/core/libs.js')
    != html.script('/core/core.js')
    != html.script(baseUrl + '/javascripts/harness.js')

  body
    :coffeescript
      harness = require('harness/app')
      harness.init()
      
      console.log 'page | harness.definition', harness.definition
