!!!
html
  head
    title= title
    link(rel='stylesheet', href="#{baseUrl}/stylesheets/harness.css")

    script(type='text/javascript', src='/javascripts/libs.js')
    script(type='text/javascript', src='/build/client-min.js')

  body
    .harness.shell
      .left
        != partial('header')
        .region.body
        != partial('footer')
      .main
        != partial('header')
        .region.body
          != partial('main_default')
        != partial('footer')

    :coffeescript
      foo = require 'foo'
      console.log 'foo', foo

      require 'jquery-1.6.2'
      _ = require 'underscore-1.1.6'
      Backbone = require 'backbone-0.5.1'

      console.log '$', $
      console.log 'underscore ', _
      _.each([1,2,3], (i) -> console.log '> ', i)
      console.log 'Backbone', Backbone



      # console.log '_', _