!!!
html
  head
    title= title
    
    link(rel='stylesheet', href="/core/stylesheets/core/base.css")
    link(rel='stylesheet', href="/core/stylesheets/core/controls.css")

    script(type='text/javascript', src='/core/libs.js')
    script(type='text/javascript', src='/core/core.js')
    
    :stylus
      body
        padding 50px

      .core_textbox
        width 180px
        margin 0px 10px
      
      .sample_view
        position relative
        background orange
        height 120px
      
      .core_btn_cmd
        margin-right 15px
      
      hr
        margin 35px 0px
        border none
        border-top solid 1px darken(white, 15%)
        

  body
    :coffeescript
      $ -> 
        # Setup initial conditions.
        
        core      = require 'open.client/core'
        controls  = require 'open.client/controls'
        CmdButton = controls.CmdButton

        buttons = []
        updateLabels = -> 
            for btn in buttons
                btn.label txtLabel.text()
        
        updateWidths = -> 
            width = if txtWidth.empty() then null else txtWidth.text() + 'px' 
            for btn in buttons
                btn.el.css 'width', width
        
        updateEnabled = (enabled) -> 
            for btn in buttons
              continue if btn is buttons.enable or btn is buttons.disable
              btn.enabled enabled
        
        # Insert textbox for changing button labels.
        insertTextbox = (replace, watermark, text, onChanged) -> 
                Textbox = controls.Textbox
                textbox = new Textbox( watermark:watermark, text:text )
                $(replace).replaceWith textbox.el
                textbox.text.onChanged(onChanged) if onChanged?
                textbox
        
        txtLabel = insertTextbox '#txtLabel', 'Label', null, updateLabels
        txtWidth = insertTextbox '#txtWidth', 'Width (px)', null, updateWidths
        
        # Create the buttons.
        for el, i in $('button')
            el  = $(el)
            id  = el.attr('id')
            btn = new CmdButton
                          label:     el.data 'label'
                          size:      el.data 'size'
                          color:     el.data 'color'
                          canToggle: el.data 'can-toggle'
                          selected:  core.util.toBool(el.data('selected'))
            el.replaceWith btn.el
            buttons.push btn
            buttons[id] = btn if id?
            
            # Wire up events.
            btn.onClick (e) -> 
                source = e.source
                console.log 'CLICK: ', source.label()
        
        # Enabled / Disabled handler
        buttons.enable.onClick   (e) -> updateEnabled true
        buttons.disable.onClick (e) -> updateEnabled false


    h1 Buttons
    a(href='/core/stylesheets/core/controls/buttons.css', target='_blank') CSS
    <textbox id="txtLabel"></textbox>
    <textbox id="txtWidth"></textbox>
    button#enable(data-size='s', data-label='Enable')
    button#disable(data-size='s', data-label='Disable')

    hr

    button#standard(data-label='Standard')
    button#toggleSilver(data-label='Toggle Silver', data-can-toggle='true', data-selected='true')
    button#toggleBlue(data-label='Toggle Blue', data-can-toggle='true', data-color='blue', data-selected='true')
    
    hr
    
    h3 Silver
    button(data-size='s', data-label='Small', data-default="size:'small', label:'Small'")
    button(data-size='m', data-label='Medium')
    button(data-size='l', data-label='Large')

    h3 Blue
    button(data-size='s', data-label='Small',  data-color='blue')
    button(data-size='m', data-label='Medium', data-color='blue')
    button(data-size='l', data-label='Large',  data-color='blue')

