!!!
html
  head
    title= title
    
    link(rel='stylesheet', href="/core/stylesheets/libs/normalize.css")
    link(rel='stylesheet', href="/core/stylesheets/core/controls/buttons.css")

    script(type='text/javascript', src='/core/libs.js')
    script(type='text/javascript', src='/core/core.js')
    
    :stylus
      body
        padding 50px
      
      .sample_view
        position relative
        background orange
        height 120px
      
      button.core_cmd
        margin 10px
      
      hr
        margin 35px 0px
        border none
        border-top solid 1px darken(white, 15%)
        

  body
    :coffeescript
      $ -> 
        controls = require 'open.client/controls'
        CmdButton = controls.CmdButton
        
        # Create the buttons.
        for el, i in $('button')
            el = $(el)
            btn = new CmdButton
                          label:     el.data 'label'
                          size:      el.data 'size'
                          canToggle: el.data 'can-toggle'
            el.replaceWith btn.el
            
            # Wire up events.
            btn.onClick (e) -> 
                source = e.source
                console.log 'CLICK: ', source.label()
        
        
    h1 Buttons
    a(href='/core/stylesheets/core/controls/buttons.css', target='_blank') CSS
    
    hr
    
    button(data-size='s', data-label='Small')
    button(data-size='m', data-label='Medium')
    button(data-size='l', data-label='Large')

    hr

    button(data-label='Standard')
    button(data-label='Toggle', data-can-toggle='true')

    

        
      
