!!!
html
  head
    title= title
    link(rel='stylesheet', href="/core/stylesheets/core/controls/textbox.css")

    script(type='text/javascript', src='/core/libs.js')
    script(type='text/javascript', src='/core/core.js')

  body
    :coffeescript
      console.log 'TEXTBOX'
