!!!
html
  head
    title= title

    link(rel='stylesheet', href="/core/stylesheets/libs/normalize.css")
    link(rel='stylesheet', href="/core/stylesheets/core/controls/textbox.css")

    script(type='text/javascript', src='/core/libs.js')
    script(type='text/javascript', src='/core/core.js')
    
    :stylus
      body
        padding 50px
      
      span.core_textbox
        width 180px
        margin 10px

  body
    :coffeescript
      $ -> 
        controls = require 'open.client/controls'
        
        add = -> 
            textbox = new controls.Textbox()
            $('body').append textbox.el
            textbox
        
        textbox1 = add()
        textbox2 = add()
        textbox3 = add()
        
        textbox1.watermark 'Watermark'
        textbox2.password true
        textbox3.multiline true
        
        txt = textbox1
        txt.focus()
        console.log 'textbox.hasFocus()', txt.hasFocus()
        
        txt.onEnter (e) -> console.log 'ENTER', e
        txt.onEscape (e) -> console.log 'ESC', e
      
      
