!!!
html
  head
    title= title
    link(rel='stylesheet', href="/core/stylesheets/core/controls/textbox.css")

    script(type='text/javascript', src='/core/libs.js')
    script(type='text/javascript', src='/core/core.js')

  body
    :coffeescript
      $ -> 
        controls = require 'open.client/controls'
        textbox = new controls.Textbox()
      
        console.log 'textbox', textbox, textbox.el
        $('body').append textbox.el
      
      
