@import 'nib'
@import 'core/common'

// ------------------------------------------------------
//                   Constants
// ------------------------------------------------------
BORDER_COLOR = darken(white, 60%)


// ------------------------------------------------------
//                   Common Styles
// ------------------------------------------------------
silverGradient()
  LIGHT = rgba(243, 243, 245, 1)
  DARK = rgba(166, 173, 187, 1)
  background: linear-gradient(top, LIGHT, DARK)

blueGradient()
  LIGHT = rgba(0, 150, 237, 1)
  DARK = rgba(0, 60, 133, 1)
  background: linear-gradient(top, LIGHT, DARK)
