@import './_common'

div.th_main div.th_welcome
    background blueGradient()

    div.th_grid
      background-image: url(../images/welcome/grid_lines.png)

    div.th_title
      background-image: url(../images/welcome/title.png)
      background-repeat: no-repeat
      background-position: center
