@import 'nib'
@import 'core/common'



// ------------------------------------------------------
//                      List Button
// ------------------------------------------------------
.th_left 
  .th_list_button
    padding 10px
    background orange
    border-bottom solid 1px
    cursor: default
    user-select none
    font-size 8pt
  
  
  
